[Unit]
Description=Hyprland compositor session
Documentation=man:systemd.special
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target \
	dunst.service \
	waybar.service \
	swayidle.service \
	polkit-gnome.service \
	playerctld.service \
	kdeconnect.service \
	kdeconnect-indicator.service

