[Unit]
Description=kanshi
Documentation=https://sr.ht/~emersion/kanshi/
BindsTo=hyprland-session.target
Requisite=hyprland-session.target

[Service]
ExecStart=/usr/bin/kanshi
ExecReload=kill -HUP $MAINPID
Restart=on-failure
