[Unit]
Description=Automatic screen locker
BindsTo=hyprland-session.target
Requisite=hyprland-session.target

[Service]
Type=exec
ExecStart=swayidle -w \
	timeout 300 'swaylock -f --grace 5' \
	timeout 360 'hyprctl dispatch dpms off' \
	resume 'hyprctl dispatch dpms on' \
	before-sleep 'playerctl pause; swaylock -f' \
	lock 'swaylock -f'

