[Unit]
Description=Automatic screen locker
BindsTo=hyprland-session.target
Requisite=hyprland-session.target

[Service]
Type=exec
ExecStart=swayidle -d -w \
	timeout 300 'swaylock -f' \
	timeout 900 'systemctl suspend' \
	before-sleep 'playerctl pause; swaylock -f' \
	lock 'swaylock -f'

