[core]
	editor = hx

[user]
	name = Rasmus Mecklenburg
	email = 42248344+rmburg@users.noreply.github.com
	signingkey = FA515CAF1A69AC51

[credential]
	helper = store

[merge]
	conflictstyle = diff3

[fetch]
	parallel = 0

[diff]
	external = difft --color=always
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft --color=always "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[branch]
	sort = -committerdate
