# Ignore everything by default
*

!.gitignore
!.gitconfig

!.icons
!.icons/**/*

!.config
.config/*

!.config/starship.toml

!.config/fish/config.fish
!.config/fish/functions/*
.config/fish/functions/*fzf*

!.config/astronvim/
!.config/astronvim/**/*

!.config/kitty/
!.config/kitty/**/*

!.config/hypr/
!.config/hypr/**/*

!.config/swaylock/
!.config/swaylock/**/*

!.config/waybar/
!.config/waybar/**/*

!.config/ranger/
!.config/ranger/**/*

!.config/zathura/
!.config/zathura/**/*

!.config/bat/
!.config/bat/**/*
.config/bat/**/*.thTheme

!.config/btop/
!.config/btop/btop.conf

!.config/cava/
!.config/cava/**/*

!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini

!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini

!.config/dunst/
!.config/dunst/dunstrc

!.config/Code - OSS/
!.config/Code - OSS/User/
!.config/Code - OSS/User/settings.json

!.config/qt5ct/
!.config/qt5ct/**/*

!.config/rofi/
!.config/rofi/**/*

!.config/helix/
!.config/helix/**/*

!.config/systemd/
!.config/systemd/**/*

