[core]
	editor = hx

[user]
	name = Narcha
	email = 42248344+rmburg@users.noreply.github.com
	signingkey = 7916EA9AE87DD106

[credential]
	helper = store

[merge]
	conflictstyle = diff3

# [diff]
# 	external = difft

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
