[core]
    editor = nvim
    pager = delta

[user]
	name = Narcha
	email = 42248344+Narcha@users.noreply.github.com
	signingkey = D8A068FBD60270D2

[credential]
	helper = store

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = true
    syntax-theme = Catppuccin-macchiato

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[commit]
	gpgsign = true

[init]
	defaultBranch = main
