@import "macchiato.css";

* {
  /* border: none; */
  border-radius: 0;
  font-family: Fira Sans, FiraCode Nerd Font;
  font-weight: bold;
  font-size: 14px;
  /* min-height: 0; */
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border: 2px solid @crust;
}

#clock,
#battery,
#pulseaudio,
#workspaces,
#tray,
#mpris,
#backlight {
  background: @base;
  padding: 0px 10px;
  margin: 3px 0px;
  border: 2px solid @overlay0;
}

#pulseaudio,
#battery {
  border-right: unset;
  border-left: unset;
}

#workspaces {
  border-radius: 10px;
  padding: 0 5px;
  /* match the 2px gap around normal windows */
  margin-left: 2px;
}

#workspaces button {
  padding: 0 5px;
  /* min-width: 8px; */
  /* min-height: 8px; */
  /* border: 1px solid red; */
  color: @overlay1;
  background: @base;
}

#workspaces button.empty {
  color: @surface1;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button:hover {
  color: @text;
  background: @base;
  /* prevent the default button highlight */
  box-shadow: inherit;
  text-shadow: inherit;
}

#window {
  color: @text;
  padding: 8px;
}

#tray {
  border-radius: 10px;
  margin-right: 4px;
}

#mpris {
  border-radius: 10px;
  margin-right: 4px;
  color: @peach;
}

#backlight{
  color: @mauve;

  border-radius: 10px 0px 0px 10px;
  border-right: unset;
}

#pulseaudio {
  color: @blue;
}

#battery{
  color: @green;
}

#clock {
  color: @yellow;

  border-left: unset;
  border-radius: 0 10px 10px 0;
  /* match the 2px gap around normal windows */
  margin-right: 2px;
}

