theme = "catppuccin_macchiato"

[editor]
bufferline = "multiple"
color-modes = true
cursorline = true
completion-replace = true

[editor.soft-wrap]
enable = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.lsp]
display-messages = true

[keys.normal.space]
w = ":update"
q = ":quit"

